In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

In [2]:
# similar movies on the bases of

# 0- overall
# 1- scale (revenue and budget)
# 2- story (genre and story)
# 3- crew and cast


# algos-
# kmeans clustering
# heireical clustering
# dbscan

# story

In [11]:
df = pd.read_csv("../data/interim/story.csv")

In [12]:
df.shape

(9903, 643)

In [13]:
df.drop(["Unnamed: 0", "poster_path"], axis=1, inplace=True)

In [14]:
df.head(1)

,adult,budget,id,origin_country,original_language,popularity,production_companies,production_countries,revenue,runtime,...,wife_over,win_over,with_over,woman_over,women_over,work_over,world_over,year_over,york_over,young_over
0,False,45000000.0,1011477,['US'],en,750.3586,"[{'id': 5, 'logo_path': '/71BqEFAF4V3qjjMPCpLu...","[{'iso_3166_1': 'US', 'name': 'United States o...",104560790,94,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.216504,0.0

In [15]:
story = df.drop(
    [
        "budget",
        "adult",
        "id",
        "credits",
        "origin_country",
        "revenue",
        "cast",
        "crew",
        "production_companies",
        "popularity",
        "status",
        "title",
        "video",
        "vote_average",
        "vote_count",
        "hit/flop",
        "profit_per",
        "box-off",
        "runtime",
        "original_language",
        "production_countries",
        "spoken_languages",
    ],
    axis=1,
)

In [8]:
story.shape

(9903, 619)

In [9]:
X = story.values

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(X)

1991    The Wandering Earth II
3442            Monster Hunter
4464            Monster High 2
7851          Heavy Metal 2000
9883                     Krull
Name: title, dtype: object

In [2]:
import pickle

similarity=None
with open("../models/story.pkl", "rb") as f:
    similarity=pickle.load(f)

In [9]:
# this similarity matrix is very large file so instead of storing it i am going to store only top 5 matching index for each movie

new_simi=[[] for i in range(len(similarity))]
for i in range(len(similarity)):
    new_simi[i]=np.argsort(similarity[i])[::-1][1:6]

In [22]:
def Recommend(movie):
    index = df[df["title"] == movie].index[0]
    top5 = np.array(new_simi[index])
    return df[df.index.isin(top5)]["title"]


Recommend("Avatar")

1991    The Wandering Earth II
3442            Monster Hunter
4464            Monster High 2
7851          Heavy Metal 2000
9883                     Krull
Name: title, dtype: object

In [24]:
import pickle

with open("../models/story.pkl", "wb") as f:
    pickle.dump(new_simi, f)

# Cast and crew

In [25]:
df = pd.read_csv("../data/interim/cast.csv")

In [26]:
df.head(1)

,Unnamed: 0,adult,budget,genres,id,origin_country,original_language,original_title,overview,popularity,...,Krista Bell,Mary Jo Lang,Chad Stahelski,James Wan,Terri Taylor,Chris O'Hara,David James,Donna Evans,Janet Brady,Scott Curtis
0,0,False,45000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1011477,['US'],en,Karate Kid: Legends,"After a family tragedy, kung fu prodigy Li Fon...",750.3586,...,0,0,0,0,0,0,0,0,0,0

In [27]:
cast = df.drop(
    [
        "budget",
        "adult",
        "id",
        "revenue",
        "title",
        "video",
        "credits",
        "genres",
        "origin_country",
        "keywords",
        "spoken_languages",
        "original_title",
        "overview",
        "popularity",
        "status",
        "vote_average",
        "vote_count",
        "hit/flop",
        "profit_per",
        "box-off",
        "tagline",
        "runtime",
        "poster_path",
        "release_date",
        "original_language",
        "Unnamed: 0",
    ],
    axis=1,
)

In [28]:
X = cast.values

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(X)

244     Avatar: The Way of Water
741                       Aliens
5942        Dragonball Evolution
7025                   Australia
7558         The Absence of Eden
Name: title, dtype: object

In [44]:
# this similarity matrix is very large file so instead of storing it i am going to store only top 5 matching index for each movie

new_simi=[[] for i in range(len(similarity))]
for i in range(len(similarity)):
    new_simi[i]=np.argsort(similarity[i])[::-1][1:6]

In [45]:
def Recommend(movie):
    index = df[df["title"] == movie].index[0]
    top5 = np.array(new_simi[index])
    return df[df.index.isin(top5)]["title"]


Recommend("Avatar")

244     Avatar: The Way of Water
741                       Aliens
5942        Dragonball Evolution
7025                   Australia
7558         The Absence of Eden
Name: title, dtype: object

In [46]:
import pickle

with open("../models/cast.pkl", "wb") as f:
    pickle.dump(new_simi, f)

# Scale

In [33]:
df = pd.read_csv("../data/interim/scale.csv")

In [34]:
scale = df.drop(
    [
        "id",
        "genres",
        "adult",
        "origin_country",
        "spoken_languages",
        "original_title",
        "overview",
        "status",
        "release_date",
        "production_companies",
        "production_countries",
        "tagline",
        "title",
        "video",
        "runtime",
        "original_language",
        "credits",
        "keywords",
        "Unnamed: 0",
        "poster_path",
        "cast",
        "crew",
    ],
    axis=1,
)

In [35]:
scale.columns

Index(['budget', 'popularity', 'revenue', 'vote_average', 'vote_count',
       'box-off', 'hit/flop', 'profit_per'],
      dtype='object')

In [36]:
scale.head()

,budget,popularity,revenue,vote_average,vote_count,box-off,hit/flop,profit_per
0,4.500000e+07,750.3586,104560790,7.281,367,5.956079e+07,hit,132.357311
1,9.000000e+07,465.3293,131611905,7.453,944,4.161190e+07,hit,46.235450
2,2.250000e+08,498.0608,217000000,7.470,538,-8.000000e+06,flop,-3.555556
3,3.873155e+07,438.9744,0,7.015,97,-3.873155e+07,flop,-100.000000
4,3.873155e+07,425.9085,0,5.089,29,-3.873155e+07,flop,-100.000000

In [37]:
scale["budget"] = scale["budget"] / 1000000
scale["revenue"] = scale["revenue"] / 1000000
scale["box-off"] = scale["box-off"] / 1000000

In [38]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import (
    StandardScaler,
    MinMaxScaler,
    OneHotEncoder,
    OrdinalEncoder,
)

cf = ColumnTransformer(
    transformers=[
        ("ORencoding", OrdinalEncoder(), ["hit/flop"]),
        (
            "std",
            StandardScaler(),
            [
                "budget",
                "popularity",
                "revenue",
                "vote_average",
                "vote_average",
                "box-off",
                "profit_per",
            ],
        ),
    ],
    remainder="passthrough",
)

In [15]:
from sklearn.pipeline import Pipeline

ppl = Pipeline([("std", cf)])
X = ppl.fit_transform(scale)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(X)

In [ ]:
# this similarity matrix is very large file so instead of storing it i am going to store only top 5 matching index for each movie

# similarity size = 750+ MB new_simi size=684KB
 
new_simi=[[] for i in range(len(similarity))]
for i in range(len(similarity)):
    new_simi[i]=np.argsort(similarity[i])[::-1][1:6]

In [49]:
def Recommend(movie):
    index = df[df["title"] == movie].index[0]
    top5 = np.array(new_simi[index])
    return df[df.index.isin(top5)]["title"]


Recommend("Interstellar")

152                  Inception
210                   Iron Man
229    The Wolf of Wall Street
295                  Gladiator
949             Now You See Me
Name: title, dtype: object

In [50]:
import pickle

with open("../models/scale.pkl", "wb") as f:
    pickle.dump(new_simi, f)